/* Normal */
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../assets/fonts/IBMPlexSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900; /* variable font supports all weights */
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../assets/fonts/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
