:root {
  --primary: white;
  --primary-d1: color-mix(in srgb, var(--primary), black 10%);
  --primary-d2: color-mix(in srgb, var(--primary), black 20%);
  --primary-d3: color-mix(in srgb, var(--primary), black 30%);
  --primary-d4: color-mix(in srgb, var(--primary), black 40%);
  --primary-d5: color-mix(in srgb, var(--primary), black 50%);
  --primary-d6: color-mix(in srgb, var(--primary), black 60%);
  --primary-d7: color-mix(in srgb, var(--primary), black 70%);
  --primary-d8: color-mix(in srgb, var(--primary), black 80%);
  --primary-d9: color-mix(in srgb, var(--primary), black 90%);
  --primary-d10: color-mix(in srgb, var(--primary), black 100%);
  --primary-l1: color-mix(in srgb, var(--primary), white 10%);
  --primary-l2: color-mix(in srgb, var(--primary), white 20%);
  --primary-l3: color-mix(in srgb, var(--primary), white 30%);
  --primary-l4: color-mix(in srgb, var(--primary), white 40%);
  --primary-l5: color-mix(in srgb, var(--primary), white 50%);
  --primary-l6: color-mix(in srgb, var(--primary), white 60%);
  --primary-l7: color-mix(in srgb, var(--primary), white 70%);
  --primary-l8: color-mix(in srgb, var(--primary), white 80%);
  --primary-l9: color-mix(in srgb, var(--primary), white 90%);
  --primary-l10: color-mix(in srgb, var(--primary), white 100%);

  --secondary: yellow;
  --secondary-d1: color-mix(in srgb, var(--secondary), black 10%);
  --secondary-d2: color-mix(in srgb, var(--secondary), black 20%);
  --secondary-d3: color-mix(in srgb, var(--secondary), black 30%);
  --secondary-d4: color-mix(in srgb, var(--secondary), black 40%);
  --secondary-d5: color-mix(in srgb, var(--secondary), black 50%);
  --secondary-d6: color-mix(in srgb, var(--secondary), black 60%);
  --secondary-d7: color-mix(in srgb, var(--secondary), black 70%);
  --secondary-d8: color-mix(in srgb, var(--secondary), black 80%);
  --secondary-d9: color-mix(in srgb, var(--secondary), black 90%);
  --secondary-d10: color-mix(in srgb, var(--secondary), black 100%);
  --secondary-l1: color-mix(in srgb, var(--secondary), white 10%);
  --secondary-l2: color-mix(in srgb, var(--secondary), white 20%);
  --secondary-l3: color-mix(in srgb, var(--secondary), white 30%);
  --secondary-l4: color-mix(in srgb, var(--secondary), white 40%);
  --secondary-l5: color-mix(in srgb, var(--secondary), white 50%);
  --secondary-l6: color-mix(in srgb, var(--secondary), white 60%);
  --secondary-l7: color-mix(in srgb, var(--secondary), white 70%);
  --secondary-l8: color-mix(in srgb, var(--secondary), white 80%);
  --secondary-l9: color-mix(in srgb, var(--secondary), white 90%);
  --secondary-l10: color-mix(in srgb, var(--secondary), white 100%);

  --accent: orange;
  --accent-d1: color-mix(in srgb, var(--accent), black 10%);
  --accent-d2: color-mix(in srgb, var(--accent), black 20%);
  --accent-d3: color-mix(in srgb, var(--accent), black 30%);
  --accent-d4: color-mix(in srgb, var(--accent), black 40%);
  --accent-d5: color-mix(in srgb, var(--accent), black 50%);
  --accent-d6: color-mix(in srgb, var(--accent), black 60%);
  --accent-d7: color-mix(in srgb, var(--accent), black 70%);
  --accent-d8: color-mix(in srgb, var(--accent), black 80%);
  --accent-d9: color-mix(in srgb, var(--accent), black 90%);
  --accent-d10: color-mix(in srgb, var(--accent), black 100%);
  --accent-l1: color-mix(in srgb, var(--accent), white 10%);
  --accent-l2: color-mix(in srgb, var(--accent), white 20%);
  --accent-l3: color-mix(in srgb, var(--accent), white 30%);
  --accent-l4: color-mix(in srgb, var(--accent), white 40%);
  --accent-l5: color-mix(in srgb, var(--accent), white 50%);
  --accent-l6: color-mix(in srgb, var(--accent), white 60%);
  --accent-l7: color-mix(in srgb, var(--accent), white 70%);
  --accent-l8: color-mix(in srgb, var(--accent), white 80%);
  --accent-l9: color-mix(in srgb, var(--accent), white 90%);
  --accent-l10: color-mix(in srgb, var(--accent), white 100%);

  --borderRadius-sm: 4px;
  --borderRadius-md: 8px;
  --borderRadius-lg: 12px;
  --borderRadius-xl: 16px;
  --borderRadius-pill: 1000px;
  --borderRadius-circle: 9999px;

  --fontSize-xs: 12px;
  --fontSize-sm: 14px;
  --fontSize-md: 15px;
  --fontSize-base: 16px;
  --fontSize-lg: 18px;
  --fontSize-xl: 20px;
  --fontSize-xxl: 22px;
  --fontSize-h3: 24px;
  --fontSize-h2: 28px;
  --fontSize-h1: 32px;
  --fontSize-display1: 40;
  --fontSize-display2: 48;
  --fontSize-display3: 56;
  --fontSize-display4: 64;

  --spacing-none: 0rem;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 0.75rem;
  --spacing-base: 1rem;
  --spacing-lg: 1.25rem;
  --spacing-xl: 1.5rem;
  --spacing-xxl: 2rem;
  --spacing-xxxl: 2.5rem;
  --spacing-section: 3rem;

  --lineHeight-tight: 16;
  --lineHeight-base: 20;
  --lineHeight-relaxed: 24;
  --lineHeight-loose: 28;
}
